[Unit]
Description=Gunicorn daemon for Django Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/projectwellverse24/savannahinc/backend
ExecStart=/home/projectwellverse24/savannahinc/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          core.wsgi:application

[Install]
WantedBy=multi-user.target
