@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-in.delay-1 {
  animation-delay: 0.3s;
}

.fade-in.delay-2 {
  animation-delay: 0.6s;
}

.initial-hidden {
  opacity: 0;
}

.section {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.rightImage {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.small-font {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: left;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-right: 80px;
}

.heading-line {
  flex: 1;
  height: 2px;
  background-color: #41e096;
  margin: 0 10px;
}

.heading-text {
  font-size: 2rem;
  font-weight: bold;
  color: #41e096;
  white-space: nowrap;
  padding: 0 10px;
}

/* Media query for small screens */
@media (max-width: 767px) {

  .section {
    padding: 0;
  }

  .heading-container {
    padding-right: 0;
  }

  .heading-container {
    flex-direction: column;
  }

  .heading-line {
    width: 100%;
    margin: 5px 0;
  }

  .heading-text {
    font-size: 1.5rem;
  }

  .small-font {
    font-size: 1rem;
    text-align: center;
  }

  .rightImage {
    width: 100%;
    margin-bottom: 20px;
  }
}
