@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-in animation styles */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-in.delay-1 {
  animation-delay: 0.3s;
}

.fade-in.delay-2 {
  animation-delay: 0.6s;
}

/* Initial hidden state */
.initial-hidden {
  opacity: 0;
}

/* Container styling */
.servicesContainer {
  padding: 50px 0;
  background-size: cover;
  color: white;
  text-align: center;
}

.servicesOverlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 15px;
}

.servicesHeading {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.servicesHead {
  font-size: 18px;
  margin-bottom: 40px;
}

.servicesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.serviceIconContainer {
  background: #fff;
  border-radius: 10px;
  width: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.serviceIconContainer:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.serviceIcon {
  font-size: 36px;
  margin-bottom: 10px;
  color: #41E096; /* Change color as needed */
}

.serviceTitle {
  font-size: 14px;
  text-align: center;
  color: #333;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .servicesHeading {
    font-size: 1.6rem;
  }
}
